@model AppUserLoginViewModel

@{
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Hoşgeldiniz</h1>
        </div>
        <form class="user" method="post" asp-action="GirisYap">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserName" class="form-control form-control-user">
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" class="form-control form-control-user">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" asp-for="RememberMe" class="custom-control-input">
                    <label class="custom-control-label" asp-for="RememberMe"></label>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            <button type="submit" class="btn btn-primary btn-user btn-block">
                Giriş Yap
            </button>
            @*<hr>
            <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Login with Google
            </a>
            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
            </a>*@
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="#">Şifrenizi Unuttunuz mu ?</a>
        </div>
        <div class="text-center">
            <a class="small" asp-action="KayitOl">Üye Değilseniz | Buradan Kayıt Ol</a>
        </div>
    </div>
</div>